<!DOCTYPE html>

<html lang="en">


<head>
			<title>Blog 6</title>
			<meta charset = "utf-8">
			<meta name="author"  content="Gregg Fine">
			<meta name="viewport"  content="width=device-width, initial-scale=1">
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css"  href="/blog6.css">


</head>



<body>











