<% include partials/header  %>


<div class="container">



<form action='/blogs'  method='POST'>
  	<div class="form-group">
    	<label for="title">Title</label>
   	 <input type="text" class="form-control" id="title" placeholder="Title" name="title">
 	 </div>

  	<div class="form-group">
    	<label for="image">Image</label>
   	 <input type="text" class="form-control" id="image" placeholder="Image URL" name="image">
  	</div>

    <div class="form-group">
    	<label for="content">Content</label>
    <textarea class="form-control" id="content" placeholder="Content" name="content"> </textarea>

    <button class="btn btn-primary">Submit</button>
    
</form>



<a href="/blogs"><button class="btn btn-primary">See all posts </button></a>



</div>



<% include partials/footer  %>